.home-page {
  color: whitesmoke;
  gap: 45px;
  .user-name {
    color: rgb(184, 5, 5);
    text-transform: capitalize;
    font-size: 3rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  .info-wrapper {

    flex-wrap: wrap;
    gap: 70px;
    .user-info {
      gap: 5px;
      font-size: 2.5rem;

    
    }

  }
  .signup-link {
    color: lightblue;
    font-size: 1.2rem;
    text-decoration: underline;
  }
  .home-title {
    gap: 10px;
  }
}
