.app-header {
  background-color: rgb(20, 34, 47);
  color: #fff;
  padding: 10px;
  box-shadow: 0 -7px 17px 6px inset #f9f8f808, 0 -2px inset #ffffff0a;
  > * {
    margin-inline: 35px;
  }
  .navbar-wrapper {
    gap: 10px;
    nav {
      gap: 10px;
      .nav-link{
        padding-block: 0.5rem;
        transition: .3s all;
        position: relative;
        &.active {
          box-shadow: inset 0 -1.5px #f57f1e;
          color: #f57f1e;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          background: none repeat scroll 0 0 transparent;
          height: 1.5px;
          width: 0;
          background: #f57f1e;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
        }
        &:hover::after {
          width: 100%; 
          left: 0;        
        }
      }
    }
  }

  .signout {
    color: rgb(120, 167, 253);
  }

  .logo-wrapper {
    display: flex;
    .logo {
      max-width: 30px;
    }
  }
}
