.app-header {
  background-color: rgba(22, 36, 48, 0.913);
  color: #fff;
  padding: 10px;
  box-shadow: 0 -7px 17px 6px inset #f9f8f808, 0 -2px inset #ffffff0a;
  > * {
    margin-inline: 35px;
  }
  .navbar-wrapper {
    gap: 10px;
    nav {
      gap: 10px;
    }
  }

  .signout {
    color: rgb(184, 5, 5);
  }

  .logo-wrapper {
    display: flex;
    .logo {
      max-width: 30px;
    }
  }
}
