.contact-filter {
    margin: 0 auto;
  > section {
    display: flex;
    flex-direction: column;
    input {
      padding: 5px;
      font-family: inherit;
      width: 100%;
      border: 0;
      border-bottom: 2px solid #9b9b9b;
      outline: 0;
      color: rgb(246, 246, 246);
      padding: 7px 0;
      max-width: 187.15px;
      background: transparent;
      transition: border-color 0.2s;
        font-size: 1.2rem;
        &::placeholder {
            color: whitesmoke;
        }
      &:focus {
        padding-bottom: 6px;
        // font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, #9abfd0, #b1bdc9);
        border-image-slice: 1;
      }
    }
  }
  @media (max-width: 435px) {
    margin: 0;
  }
}
