footer {
    color: rgba(245, 245, 245, 0.763);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(214, 214, 214, 0.057);
    padding-block: 1rem;
    gap: 0.5rem;
    .dev-social {
        > * {
            margin-inline-start: 0.5rem;    
        }
        .social-img {
            width: 32px;
        }
    }
}