* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, rgb(7, 18, 33), rgb(15, 40, 63));
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.bitcoin-app {
  flex-grow: 1;
}

.app-background {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  background: url('../../images/cool-background.png');
  // background-repeat: repeat;
  position: fixed;
  top: 0;
  opacity: 0.09;
  pointer-events: none;
}
img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }

}

input {
  background-color: rgba(255, 255, 255, 0.127);
  border-radius: 5px;
  color: whitesmoke;
  border: none;
  font-size: 1rem;
  padding: 15px;
 &:focus-within {
  outline: none;
 }
}

button {
  font-family: inherit;
  cursor: pointer;
  * {
    pointer-events: none;
  }
}

input {
  font-family: inherit;
  text-align: inherit;
}

// MAC like scrollbar
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  -webkit-border-radius: 100px;
}
